$color10: var(--color10);
$color11: var(--color11);
$color12: var(--color12);
$color13: var(--color13);
$color14: var(--color14);
$color15: var(--color15);
$color17: var(--color17);
$color18: var(--color18);
$color19: var(--color19);
$color20: var(--color20);
$color21: var(--color21);
$color22: var(--color22);
$color23: var(--color23);
$color25: var(--color25);
$color24: var(--color24);
$color26: var(--color26);
$color27: var(--color27);
$color28: var(--color28);
